

{% block title %}
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
   <h1>Все объявления</h1>

    <form action="" method="get">
    {{ filterset.form.as_p }}

    <input type="submit" value="Найти"/>
    </form>
   <!-- Выводим товары, только если они есть с помощью тега if -->
   {% if posts %}
       <table>
           <tr>
               <td>Название</td>
               <td>Объявление</td>
               <td>Дата создания</td>
               <td>Цена</td>
               <td>Автор</td>
               <td>Категория</td>
               <td>Изображения</td>
               <td>Комметарий</td>
               <td>Автор комментария</td>
               <td>Дата комментария</td>

           </tr>

           {% for p in posts %}
           <tr>
               <td>
                   <a href="{% url 'post_detail' p.id  %}">{{ p.title }}</a>
               </td>
               <td>{{ p.content|truncatechars:300 }}</td>
               <td>{{ p.post_created_at }}</td>
               <td>{{ p.price }}</td>
               <td>{{ p.post_author }}</td>
               <td>{{ p.type }}</td>
               <td>{{ p.image }}</td>
               <td>{% for c in p.PostComment.all %}
                   {{ c.content|truncatechars:150 }}
                   {% endfor %}
               </td>
               <td>{% for c in p.PostComment.all %}
                   {{ c.comment_author }}
                   {% endfor %}
               </td>
               <td>{% for c in p.PostComment.all %}
                   {{ c.comment_created_at }}
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <!-- Если товаров нет, говорим, что товаров нет ;) -->
       <h2>Сообщений нет!</h2>
   {% endif %}


<button> <a href="{% url 'post_create' %}"> Создать объявление </a> </button>
<button> <a href="{% url 'comment_create' %}"> Создать комментарий </a> </button>
<form action="{% url 'account_logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Выйти</button>
</form>

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}


